<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="<%= root_path %>">E-com</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
        </div>
        <% if user_signed_in? %>
          <div>
            <% if current_user.cart.present? %>
              <%= link_to 'Cart', cart_path(current_user.cart), class: 'nav-link px-2 px-2' %>
            <% end %>        
          </div>
          <div>
  	        <%= link_to 'SignOut', destroy_user_session_path, method: :delete, class: 'nav-link active'%>
          </div>
        <% else %>
            <%= link_to 'Sign In', new_user_session_path, class: 'nav-link active'%>
  		<% end %>
    </div>
</nav>